<h1>Coffee Creator!</h1>
<h2> Create a coffee... Then drink It!</h2>
<div id="img-holder">
	<img src="/assets/img/coffee.png">
	<img src="/assets/img/coffee1.png">
	<img src="/assets/img/coffee2.png">
</div>
<form class="add-coffee">
	<div class= "form-group">
		<input type="text" id="co" name="name">
	</div>
	<button type="submit" id="submit"><i class="fas fa-coffee"></i> Add coffee!</button>
</form>
<div class="ready">
	<h3 id="readytitle">ORDER UP!</h3>
{{!-- 	<pre>{{json this}}</pre>
	<pre>{{json this.coffee}}</pre> --}}
	<ul>
		{{#each coffee}}
			{{!-- <li>{{this.name}}</li> --}}
			{{#unless this.drank}}
				{{!-- {{> coffee/coffee-block drank=true}} --}}
				<pre>{{this.id}}. {{this.name}}</pre>
				<button class="drink" data-id="{{id}}" data-newdrank="{{drank}}">
					{{#if drank}}Drink Coffee!{{else}}REFILL!{{/if}}
				</button>
			{{/unless}}
		{{/each}}
	</ul>
</div>
<div class="gone">
	<h3 id="gonetitle">REFILLS!</h3>
	<ul>
		{{#each coffee}}
			{{#if this.drank}}
				<div>{{this.id}}. {{this.name}}</div>
				{{!-- {{> coffee/coffee-block drank=false}}--}}
				<button class= "delete-coffee" data-id="{{this.id}}"><i class="far fa-trash-alt"></i>
				</button>
 			{{/if}}
		{{/each}} 
	</ul>
</div>