<li>
	{{id}}. {{name}}
	<button class="drink" data-id="{{id}}" data-newdrank="{{drank}}">
		{{#if drank}}Drink Coffee!{{else}}REFILL!{{/if}}
	</button>
	<button class= "delete-coffee" data-id="{{this.id}}"><i class="far fa-trash-alt"></i>
	</button>
</li>

{{!-- {{#each coffees}}
	{{#unless this.drank}}
		<div class="coffee-div">
			{{this.name}}
		</div>
		<div class="button">
			<button class="drink" data-id="{{this.id}}" data-newdrank="{{this.drank}}">
				Drink Coffee!
			</button>
		</div>
	{{/unless}}
{{/each}}
 --}}